.idea/
.DS_Store
__pycache__/
classification/convertor/
segmentation/convertor/
detection/convertor/
checkpoint_dir/
demo/
upload.py
segmentation/dataset/
segmentation/data/
segmentation/ops_dcnv3/build/
segmentation/ops_dcnv3/DCNv3.egg-info/
segmentation/ops_dcnv3/dist/
segmentation/internimage_dvc_training_v2.tar.gz
segmentation/pretrained/internimage_xl_22k_192to384.pth
segmentation/pretrained/mask2former_internimage_h_ade20k.pth